.results {
  text-align: center;
  font-size: var(--font-size-medium);
}

.box {
  display: inline-block;
  padding: 5px 10px;
}

.yaku:after {
  content: ', ';
}

.yaku:last-child:after {
  content: '';
}

.winner {
  padding-right: 2px;
}

.looser {
  padding-left: 2px;
}

.looser:before {
  content: " <= ";
}

.win {
  position: relative;
  padding-bottom: 10px;
}

.win:after {
  display: inline-block;
  content: '';
  width: 30%;
  position: absolute;
  bottom: 5px;
  left: 35%;
  border-bottom: 1px solid white;
}

.yakus {
  font-size: var(--font-size-small);
}

.cost {
  font-size: var(--font-size-small);
}

.payments {
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  text-align: left;
}

.place {
  text-align: left;
}

.diff {
  padding-left: 5px;
}

.diffNegative {
  color: red;
}

.diffPositive {
  color: green;
}

.diffPositive:before {
  content: '+';
}

.bold {
  font-weight: bold;
}