.center {
  padding-bottom: 0.5em;
}
.input {
  margin-right: 5px;
}

.inputHash:focus {
  outline: none;
}

.indRadio {
  display: block;
  margin-left: 10px;
}

.indRadio:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.pointsSettings {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}

.pointsSettings:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.button {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  background-repeat: repeat-x;
  border-color: #b92c28;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
}

.visual {
  padding: 0.5rem 0;
  border-top: 1px solid grey;
}

.visualSection {
  padding-bottom: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
}

.hash {
  padding: 0.5rem 0;
  border-top: 1px solid grey;
}

.hashLabel {
  color: black;
  background-color: white;
  padding: 0 1px;
}

.hashGroup {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 5px 0;
}

.hashGroupInput {
  display: inline-flex;
  margin-bottom: 3px;
  margin-right: 5px;
}

.hashGroupInputFocused {
  outline: blue solid 1px;
}

.inputHash {
  border: none;
  font-size: 16px;
}
