.riichiBtn {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin: auto 0 auto;
    width: 38px;
    cursor: pointer;
}

.unpressed {
    background-image: linear-gradient(to bottom, #ababab 0%, #9c9c9c 100%);
    background-repeat: repeat-x;
    border-radius: 3px;
}

.unpressed::before {
    content: 'R';
}

.pressed {
    background-image: url("./images/riichi_s.gif");
    background-repeat: no-repeat;
    background-position: 0;
    height: 18px;
}