.riichiStick {
  height: 22px;
}

.movingBox {
  display: inline-block;
  height: 18px;
  width: 180px;
  margin-top: 1px;
  border-radius: 5px;
  position: relative;
}

.img {
  height: 18px;
  width: 180px;
  background-image: url("./images/riichi.gif");
}

.ltr {
  animation: riichiLTR 1s;
}

.rtl {
  animation: riichiRTL 1s;
}

@keyframes riichiRTL {
  0% {
    left: 180px;
    box-shadow: -5px 3px 3px rgb(255, 94, 94);
  }
  99% {
    left: 0px;
    box-shadow: -5px 3px 3px rgb(255, 94, 94);
  }
  100% {
    left: 0px;
    box-shadow: none;
  }
}

@keyframes riichiLTR {
  0% {
    left: -180px;
    box-shadow: 5px 3px 3px rgb(255, 94, 94);
  }
  99% {
    left: 0px;
    box-shadow: 5px 3px 3px rgb(255, 94, 94);
  }
  100% {
    left: 0px;
    box-shadow: none;
  }
}
