.doras {
    height: 77px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: var(--font-size-big);
    padding-right: 10px;
  }
  
  .verticalBox {
    width: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    transform: rotate(180deg);
    writing-mode: tb-rl;
    font-size: 20px;
    padding: 0 5px;
  }
  
  .indicator {
      font-size: 14px;
  }
  
  .tiles {
    display: inline-flex;
    vertical-align: bottom;
    margin-bottom: 12px;
    margin-left: 2px;
  }
  