.tile {
    width: 40px;
    height: 56px;

    -webkit-filter: drop-shadow(0px 0px 2px black);
    -moz-filter: drop-shadow(0px 0px 2px black);
    -o-filter: drop-shadow(0px 0px 2px black);
    -ms-filter: drop-shadow(0px 0px 2px black);
    filter: drop-shadow(0px 0px 1px black);
    padding: 2px;
    display: inline-block;
}

.tile__face {
    fill: #ffffff;
 }

.tile__back {
    fill: #ffba1e;
}

.tile__gray {
    opacity: 0.4;
}

.tile__pointer {
    cursor: pointer;
}

.tile__selectable:hover {
    -webkit-filter: drop-shadow(0px 0px 2px green);
    -moz-filter: drop-shadow(0px 0px 2px green);
    -o-filter: drop-shadow(0px 0px 2px green);
    -ms-filter: drop-shadow(0px 0px 2px green);
    filter: drop-shadow(0px 0px 2px green);
}