.layout {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.side {
    max-width: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    height: -moz-max-content;
    height: fit-content;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

.opacity0 .panel {background-color: rgba(0, 0, 0, 0);}
.opacity5 .panel {background-color: rgba(0, 0, 0, 0.05);}
.opacity10 .panel {background-color: rgba(0, 0, 0, 0.1);}
.opacity15 .panel {background-color: rgba(0, 0, 0, 0.15);}
.opacity20 .panel {background-color: rgba(0, 0, 0, 0.2);}
.opacity25 .panel {background-color: rgba(0, 0, 0, 0.25);}
.opacity30 .panel {background-color: rgba(0, 0, 0, 0.3);}
.opacity35 .panel {background-color: rgba(0, 0, 0, 0.35);}
.opacity40 .panel {background-color: rgba(0, 0, 0, 0.4);}
.opacity45 .panel {background-color: rgba(0, 0, 0, 0.45);}
.opacity50 .panel {background-color: rgba(0, 0, 0, 0.5);}
.opacity55 .panel {background-color: rgba(0, 0, 0, 0.55);}
.opacity60 .panel {background-color: rgba(0, 0, 0, 0.6);}
.opacity65 .panel {background-color: rgba(0, 0, 0, 0.65);}
.opacity70 .panel {background-color: rgba(0, 0, 0, 0.7);}
.opacity75 .panel {background-color: rgba(0, 0, 0, 0.75);}
.opacity80 .panel {background-color: rgba(0, 0, 0, 0.8);}
.opacity85 .panel {background-color: rgba(0, 0, 0, 0.85);}
.opacity90 .panel {background-color: rgba(0, 0, 0, 0.9);}
.opacity95 .panel {background-color: rgba(0, 0, 0, 0.95);}