.container {
  text-align: center;
}
.settings {
  text-align: left;
  width: 50%;
  padding: 10px 10px 15px 10px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .settings {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and  (max-width: 1024px) {
  .settings {
    width: 70%;
  }
}

.menu {
  display: flex;
  border-bottom: 1px solid rgba(145, 145, 145, 0.8);
  margin-bottom: 5px;
  position: relative;
  left: -10px;
  width: 100vw;
  padding-left: 10px;
  width: calc(100% + 10px);
}

.menuItem {
  padding-right: 10px;
  cursor: pointer;
  background: linear-gradient(225deg, transparent 9px, rgba(90, 90, 90, 0.8) 0);
  z-index: 1;
  color: rgb(195, 195, 195);
}

.menuItemActive {
  background: linear-gradient(
    225deg,
    transparent 9px,
    rgba(133, 133, 133, 0.8) 0
  );
  z-index: 2;
  color: inherit;
  position: relative;
  top: 1px;
}

.menuLabel {
  cursor: pointer;
}

.menuRadio {
  appearance: none;
}

.section {
  padding-bottom: 5px;
}

.section .center {
  display: flex;
  align-items: center;
}

.results {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 5px;
}

.resultsInput {
  -webkit-appearance: none;
  appearance: none;
}

.resultsSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #ababab 0%, #9c9c9c 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}

.resultsSlider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3px;
}

.resultsInput:checked + .resultsSlider {
  background-color: #d9534f;
  background-image: linear-gradient(to bottom, #d9534f 0%, #922b2b 100%);
}

.resultsInput:focus + .resultsSlider {
  box-shadow: 0 0 1px #b92c28;
}

.resultsInput:checked + .resultsSlider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}
