.status {
    display: inline-flex;
    height: 77px;
    font-size: var(--font-size-big);
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
}

.element {
    display: flex;
    align-items: center;
}

.round {
    margin: 0 10px;
}

.wind0::after {
    content: "東";
    margin-right: 5px;
}

.wind1::after {
    content: "南";
    margin-right: 5px;
}

.wind2::after {
    content: "西";
    margin-right: 5px;
}

.wind3::after {
    content: "北";
    margin-right: 5px;
}

.offline {
    color: red;
}

.renchan {
    margin: 0 10px;
}

.renchan::before {
    content: "";
    margin-right: 5px;
    height: 40px;
    width: 18px;
    display: inline-block;
    background-image: url("./images/honba.png");
}

.riichi {
    margin: 0 10px;
}

.result {
    margin: 0 10px;
}

.riichi::before {
    content: "";
    margin-right: 5px;
    height: 40px;
    width: 18px;
    display: inline-block;
    background-image: url("./images/sticks.png");
}