.container {
    display: flex;
    align-items: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .buttons {
    display: inline;
  }
  
  .player {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 10px;
    font-size: var(--font-size-medium);
    line-height: 1.1;
    color: white;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
  }
  
  .settings {
    font-size: var(--font-size-small);
  }
  
  .wind0::before {
    content: "東";
    margin-right: 5px;
  }
  
  .wind1::before {
    content: "南";
    margin-right: 5px;
  }
  
  .wind2::before {
    content: "西";
    margin-right: 5px;
  }
  
  .wind3::before {
    content: "北";
    margin-right: 5px;
  }
  
  .score {
    margin-left: 10px;
    font-weight: bold;
  }