:root {
  --font-size-big: 54px;
  --font-size-medium: 32px;
  --font-size-small: 20px;
  --line-height-big: 1.42857143;
  --line-height-medium: 1.25;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-big);
  font-size: var(--font-size-small);
  color: white;
}
